@page
@model SchedulePage.SchedulePageModel
@{
  ViewData["Title"] = "Schedule";
}
@if (string.IsNullOrEmpty(Model.Message) == false)
{
  <div class="alert alert-success">
    @Model.Message
  </div>
}
@if (string.IsNullOrEmpty(Model.Error) == false)
{
  <div class="alert alert-danger">
    @Model.Error
  </div>
}
<h1 class="text-center">Schedule Management</h1>
<form class="d-flex justify-content-between">
    <div class="input-group w-50">
        <input type="text" name="search" class="form-control" value="@(Model.Search)" placeholder="Search" aria-describedby="" />
        <div class="input-group-append">
            <button type="submit" id="search" class="input-group-text h-100 btn-danger" style="cursor: pointer;">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="add();">
      Add
    </button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">CourId</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
      <th scope="col">Notes</th>
      <th scope="col">Staff Check</th>
      <th scope="col">Event</th>
      <th scope="col">IsBooked</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @if (Model.Schedules != null && Model.Schedules.Count > 0)
    {
      foreach (var schedule in Model.Schedules)
      {
        <tr>
          <th scope="row">@schedule.ScheduleId</th>
          <td>@schedule.CourtId</td>
          <td>@schedule.From</td>
          <td>@schedule.To</td>
          <td>@schedule.Price</td>
          <td>@schedule.Date</td>
          <td>@schedule.Notes</td>
          <td>@schedule.StaffCheck</td>
          <td>@schedule.Event</td>
          <td>@schedule.IsBooked</td>
          <td>
            <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@schedule.ScheduleId">
              Edit
            </a>
            <a class="btn btn-info" asp-page="./Detail" asp-route-id="@schedule.ScheduleId">
              Detail
            </a>
            <button class="btn btn-danger" onclick="confirmDelete(@schedule.ScheduleId);">Remove</button>
          </td>
        </tr>
      }
    }
    else
    {
      <tr>
        <td colspan="7" class="text-center">No data</td>
      </tr>
    }
  </tbody>
</table>


<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post">
        @Html.AntiForgeryToken()
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create a new schedule</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label asp-for="Schedule.From" class="control-label mb-1"></label>
                <input asp-for="Schedule.From" type="time" class="form-control" />
                <span asp-validation-for="Schedule.From" class="text-danger"></span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label asp-for="Schedule.To" class="control-label mb-1"></label>
                <input asp-for="Schedule.To" type="time" class="form-control" />
                <span asp-validation-for="Schedule.To" class="text-danger"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label asp-for="Schedule.CourtId" class="control-label mt-1 mb-1">Court</label>
                <select asp-for="Schedule.CourtId" class="form-control">
                  <option value="">Select a Court</option>
                  @if (Model.Courts != null && Model.Courts.Count > 0)
                  {
                    foreach (var court in Model.Courts)
                    {
                      <option value="@court.CourtId">@court.Name</option>
                    }
                  }
                </select>
                <span asp-validation-for="Schedule.CourtId" class="text-danger"></span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label asp-for="Schedule.Price" class="control-label mt-1 mb-1"></label>
                <input asp-for="Schedule.Price" type="number" class="form-control" />
                <span asp-validation-for="Schedule.Price" class="text-danger"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label asp-for="Schedule.Date" class="control-label mt-1 mb-1"></label>
                <input asp-for="Schedule.Date" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" type="date"
                  class="form-control" />
                <span asp-validation-for="Schedule.Date" class="text-danger"></span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label asp-for="Schedule.Event" class="control-label mt-1 mb-1"></label>
                <input asp-for="Schedule.Event" type="text" class="form-control" />
                <span asp-validation-for="Schedule.Event" class="text-danger"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label asp-for="Schedule.StaffCheck" class="control-label mt-1 mb-1"></label>
                <input asp-for="Schedule.StaffCheck" type="text" class="form-control" />
                <span asp-validation-for="Schedule.StaffCheck" class="text-danger"></span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label asp-for="Schedule.IsBooked" class="control-label mt-1 mb-1"></label>
                <select asp-for="Schedule.IsBooked" class="form-control">
                  <option value="True">True</option>
                  <option value="False">False</option>

                </select>
                <span asp-validation-for="Schedule.IsBooked" class="text-danger"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label asp-for="Schedule.Notes" class="control-label mt-1 mb-1"></label>
              <textarea asp-for="Schedule.Notes" class="form-control"></textarea>
              <span asp-validation-for="Schedule.Date" class="text-danger"></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm deleete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure delete this schedule
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <form asp-page-handler="delete" method="post">
          <input type="hidden" name="idSchedule" value="" />
          <button type="submit" class="btn btn-primary">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>
@section scripts
{
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
  <script type="text/javascript">
    function add() {
      $('#scheduleModal').modal('show');
    }
    function confirmDelete(id) {
      $('#removeModal').modal('show');
      $('input[name="idSchedule"]').val(id)
    }
  </script>
}