@page
@model MyApp.Namespace.PaymentModel
@{
    ViewData["Title"] = "Payment";
}
@if (string.IsNullOrEmpty(Model.Error) == false)
{
    <div class="alert alert-danger">
        @Model.Error
    </div>
}
<div class="container my-5">
    @if (@Model.Success && Model.Carts != null)
    {
        <div class="row min-vh-100">
            <div class="d-flex justify-content-center" style="align-items: center;">
                <div class="text-center">
                    <img style="height: 200px; width: 200px;" src="~/image/success.webp" />
                    <h1 class="mb-4">Success !</h1>
                    <p>Your operation was completed successfully.</p>
                    <a href="/">
                        <button class="btn btn-dark rounded-3">Back to home</button>
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        @if (Model.Carts != null && Model.Carts.Count > 0)
        {
            <div class="row shadow-lg py-5 rounded-3">
                <div class="col-lg-7 mb-4">
                    <h4 class="text-center mb-5">Booking</h4>
                    @{
                        for(int i =0; i < Model.Carts.Count; i++)
                        {
                            <div class="shadow-lg border-5 p-4 mt-3 position-relative"
                                 style="transition: transform 0.3s, box-shadow 0.3s;">
                                <div class="d-flex justify-content-between" style="align-items: center;">
                                    <img src="@Model.Carts[i].Image" alt="Court Image" style="height: 200px; width: 220px;" class="me-4">
                                    <div class="court-info flex-grow-1">
                                        <h3>@Model.Carts[i].CourtName</h3>
                                        <p>Start Date: <strong>@(Model.Carts[i].DatePlay.ToString("dd-MM-yyyy"))</strong></p>
                                        <p>Start Hour: <strong>@Model.Carts[i].TimePlay</strong></p>
                                        <p>Finish Hour: <strong>@Model.Carts[i].TimePlay.AddHours(1)</strong></p>
                                        <p>Price: <strong>60k / h</strong></p>
                                    </div>
                                    <div class="text-center">
                                        <p>Total Price</p>
                                        <span><strong>60k</strong></span>
                                    </div>
                                </div>
                                <span class="position-absolute top-0 p-2" style="right: 0; cursor: pointer;">
                                    <form method="post" asp-page-handler="DeleteCart">
                                        <input type="hidden" name="cartId" value="@i" />
                                        <button style="border: hidden" >
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </span>
                            </div>
                        }
                    }
                    <div class="mt-3 d-flex justify-content-center">
                        <a href="/Booking" class="w-100 text-center">
                            <button class="btn btn-primary booking-button">Booking more</button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <h4 class="text-center">Customer</h4>
                    <form method="post" class="mt-5">
                        <div class="row">
                            <div class="col-6 form-group">
                                <label asp-for="@Model.Customer!.Name" class="mb-1" for="inputName">Name</label>
                                <input asp-for="@Model.Customer!.Name" id="inputName" type="text" class="form-control" name="name">
                            </div>
                            <div class="col-6 form-group">
                                <label asp-for="@Model.Customer!.Email" class="mb-1" for="inputEmail">Email</label>
                                <input asp-for="@Model.Customer!.Email" id="inputEmail" name="email" type="email"  class="form-control">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 form-group">
                                <label asp-for="@Model.Customer!.Address" class="mb-1" for="inputAddress">Address</label>
                                <input asp-for="@Model.Customer!.Address" id="inputAddress" type="text" class="form-control"  name="address">
                            </div>
                            <div class="col-6 form-group">
                                <label asp-for="@Model.Customer!.Phone" class="mb-1" for="inputPhone">Phone</label>
                                <input asp-for="@Model.Customer!.Phone" id="inputPhone" type="text" name="phone" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary mt-5 w-50 mx-auto">Payment</button>
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div class="row min-vh-100">
                <div class="d-flex justify-content-center" style="align-items: center;">
                    <div class="text-center">
                        <img style="height: 200px; width: 200px;" src="~/image/empty.png" />
                        <h1 class="mb-4">Empty booking</h1>
                        <p>You haven't booked any courses yet.</p>
                        <a href="/Booking">
                            <button class="btn btn-dark rounded-3">Back to booking</button>
                        </a>
                    </div>
                </div>
            </div>
        }
    }
</div>
