@page
@model BookingDetailPage.BookingDetailModel
@{
    ViewData["Title"] = "BookingDetail page";
    var bookingDetails = Model.BookingDetails;
}

<div class="text-center">
    <h1 class="display-6">Booking Detail Management</h1>
</div>

<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">From</th>
                    <th class="card-title text-center">To</th>
                    <th class="card-title text-center">Date</th>
                    <th class="card-title text-center">Price</th>
                    <th class="card-title text-center">Amount</th>
                </tr>
            </thead>
            <tbody class="tblcurrencyList">
                @if (bookingDetails.Count > 0)
                {
                    foreach (var bookingDetail in bookingDetails)
                    {
                        <tr>
                            <td>@bookingDetail.Schedule.From</td>
                            <td>@bookingDetail.Schedule.To</td>
                            <td>@bookingDetail.Schedule.Date.Value.ToString("yyyy-MM-dd")</td>
                            <td>@bookingDetail.Price</td>
                            <td>@bookingDetail.Amount</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="currencyModal" tabindex="-1" aria-labelledby="currencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="currencyModalLabel">Customer Managenent</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="currencyModalContent"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">Price</label>
                                    <input asp-for="BookingDetail.Price" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="1">Amount</label>
                                    <input asp-for="BookingDetail.Amount" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function add() {
            $('#currencyModal').modal('show');
        }
    </script>
}

